# Logs
*.log
yarn-error.log*

# Patches
*.patch

# Dependency directories
node_modules

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# App build output
dist

# IDE
.idea

# Rollup cache directory
.rollup.cache
